html{
	width: 100%;
}

body {
  padding-top: 70px;
  height: 100%;
}

footer{
	margin: 0;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

.wrapper{
	min-height: 100%;
	position: relative;
}

.content{
	padding-bottom: 60px;
}

.py-5 bg-dark{
	position: absolute;
	bottom: 15px;
	height: 60px;
}